<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "fragments/head">
	<meta charset="UTF-8" />
	<title>Enviar Incidencias</title>
</head>

<body>
	<nav th:replace = "fragments/nav"/>
	<div class="container">
	<h2>Enviar incidencia</h2>
	<form class="navbar-form" method="POST" action="/incidence/add">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<td><strong><label for="email">Usuario: </label></strong></td>
					<td th:text="${agent.email}" name="email"></td>
				</tr>
				
				<tr>
					<td><strong><label for="name">Nombre de la
							incidencia: </label></strong></td>
					<td><input id="name" type="text" name="name" /></td>
				</tr>
				<tr>
					<td><strong><label for="description">Descripcion: </label></strong></td>
					<td><input id=description" type="text" name="description" /></td>
				</tr>
				<tr>
					<td><strong><label for="tags">Etiquetas: </label></strong></td>
					<td><input id="tags" type="text" name="tags" /></td>
				</tr>
			  		<span th:if="${param.error}" class="text-danger">ERROR</span>
				<tr>

				<td colspan="2"><input type="submit" id="enviar" name="enviar"
					value="Enviar Incidencia" /></td>
				</tr>
			</table>
		</div>
	</form>
	</div>
	<footer th:replace = "fragments/footer"></footer>
</body>
</html>
